$primary-medium: #F2E635;
$primary-dark: #A69D1F;
$primary-darker: #A68F1F;
$grey: #A6A297;
$white: #F2F2F2;

$border-circle: 50%;
$border-xs: 2px;
$border-sm: 4px;
$border-md: 8px;
$border-lg: 16px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$font-size-xs: 12.8px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 25px;